.modal {
  &__window {
    touch-action: none;
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px 10px;
    background: whitesmoke;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 6px; /* width of the entire scrollbar */
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* color of the tracking area */
      height: 90%;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2196f3; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
    }


    .container {
      &__text {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 8px 12px;

        &--title {
          font-weight: 700;
        }

        &--normal {
          margin: 5px 0 5px 16px;

          .square {
            position: absolute;
            border: 1px solid black;
            border-radius: 2px;
            margin-left: 8px;
            width: 16px;
            height: 16px;
          }
        }


      }

    }

  }
}

.closed {
  display: none;
}

.open {
  display: flex;
}

